# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/mojaloop/dfsp1.mojaloop.xyz"
PassengerBaseURI "/"
PassengerNodejs "/home/mojaloop/nodevenv/dfsp1.mojaloop.xyz/22/bin/node"
PassengerAppType node
PassengerStartupFile index.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv fspId ABank
SetEnv fspDes BBank
SetEnv currency BDT
SetEnv USER mojaloop_dfsp_1
SetEnv SMTP_USER admin@saskarentpay.xdomainhost.com
SetEnv SMTP_PASS Z7W!KZi@bKvh[&)8
SetEnv SMTP_HOST mail.saskarentpay.xdomainhost.com
SetEnv SETTLEMENT https://settlement.mojaloop.xyz
SetEnv SERVER_URL https://dfsp1.mojaloop.xyz
SetEnv QUOTE_SERVICE https://quoting.mojaloop.xyz
SetEnv PORT 5002
SetEnv PASSWORD VQGvaJ?5m8Ayv+(T
SetEnv NODE_ENV production
SetEnv ML_API_ADAPTER https://api.mojaloop.xyz
SetEnv JWT_REFRESH_SECRET 4ti85it98589058qql59595845q56t
SetEnv JWT_SECRET adirgrg8949835ity505098555u5b5
SetEnv JWT_REFRESH_EXPIRES_IN 365d
SetEnv JWT_EXPIRES_IN 365d
SetEnv HOST localhost
SetEnv DATABASE mojaloop_dfsp_1
SetEnv CENTRAL_LEDGER https://ledger.mojaloop.xyz
SetEnv ALS_SERVICE https://als.mojaloop.xyz
SetEnv ALS_ADMIN_SERVICE https://als-admin.mojaloop.xyz
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END